.landing_page
  .hero__sectiion
    %h1.hero__title
      CycleLifeHQ
    %h3.hero_subtitle
      Unique bike rides from across the world
    .hero__search-bar
  .info__content
    %h2.info__title
      Your Next Ride
    .info__columns
      %ul
        %li
          %i{class: "fa fa-search"}
          %h3 Self Guided Rides
          %p Find unique bike rides curated by passionate local cyclists.
        %li
          %i{class: "fa fa-search"}
          %h3 Guided Tours
          %p Find single and multi-day tours brought to you by experienced tourism operators
  .info__section
    %h2.info__title
      What is CycleLifeHQ
    %p.info__paragraph
      CycleLifeHQ is your one stop shop for bike rides, bike tours and related activities.
  .info__content
    %h2.info__title
      Making cycling better for everyone
    .info__columns
      %ul
        %li
          %i{class: "fa fa-search"}
          %h3 Become an Ambassador
          %p Help showcase the unique bike rides your destination has to offer.
        %li
          %i{class: "fa fa-search"}
          %h3 List your business
          %p List your cycle related business and find more customers and grow cycling in your destination.
        %li
          %i{class: "fa fa-search"}
          %h3 Promote your destination
          %p Increase the number of cycle tourists to your destination. Help your community create businesses and jobs.
  .listings__section
    %h2.listings__title
      Recommended Bike Rides
    %p.listings__paragraph
      Some of the unique bike rides curated by our members.
    .listings
      -# - @listings.each do |listing|
      -#   = link_to listing
      -#     = image_tag listing.image
      -#     %h3.listing_title
      -#       = listing.title
      -#
      -#   = listing.author
    .categories__section
      %h1.categories__title
        Cycling experiences
      %p.categories__paragraph
        Explore the world on a bike and see what the world has to offer.
      .categories
        -# - @categories.each do |category|
        -#   = link_to category
        -#     = image_tag category.image
        -#     %h3.category_title
        -#       = category.title
